@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    }

    :root{
        --lime: #00FF00;
        --gray1: #a39797;
        --DarkMagenta: #8B008B;
        --Red: #FF0000;
        --navajo: #FFDEAD;
        --burly: #DEB887;
        --white: #FFFFFF;
        --cornsilk: #FFF8DC;
        --wheat: #F5DEB3;
        --blanched: #FFEBCD;
        --crimson: #DC143C;
        --bisque: #FFE4C4;
        --black: #000000;
        --chocolate: #D2691E;
        --sienna: #A0522D;
        --saddlebrown: #8B4513;
        --darkred: #8B0000;
        --steelblue: #4682B4;
    }
    /*links gerais*/
     a {
        margin: 10px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        }

        /*lista separada do header*/

   .titulo2 {
background-color: var(--steelblue);
text-align: center;
font-family: "Raleway", cursive;
color: var(--black);
border-radius: 10px;
margin: 25px;
padding: 5px;
font-family: "Sedan", cursive;
}

.link-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;;
    list-style: none;
    cursor: pointer;
}

/*titulo principal*/

.titulo-principal {
text-align: center;
font-size: 50px;
font-family: "Sedan", cursive;
margin: 10px;
cursor: pointer;
}

.titulo-principal:hover {
    color: var(--crimson);
}

.topo-do-site {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    background-image: url(funto-site.png);
    background-size: 100%;
    background-position: center;
   background-repeat: no-repeat; 
}
.sacola{
    width: 50px;
}

.topo-do-site img {
    width: 100%;
    max-height: auto;
}

/*PRINCIPAL*/

.corpo {
    background-color: var(--cornsilk);
    background-image: url(funto-amadeirado.jpg);
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

/*index*/
.sugestao-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr ));
    margin: 10px;
}

/*index*/
.sugestao-container img {
    width: 310px;
    margin-left: 35px;
    border-radius: 20px;
    border: outset var(--bisque) 10px;
}

/*geral*/
.titulo3 {
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    border-radius: 10px;
    margin: 25px;
    padding: 5px;
    font-family: "Sedan", cursive;
    border: outset var(--black) 3px;
    }
    
    /*index*/
.input-botao {
  text-align: center;
  max-width: 30px;

}

/*drink*/
.menu-container {
display: flex;
flex-direction: column;
}

/*geral*/
.link-header img {
    width: 60px;
}

/*section | drink*/
.menu-container img {
    width: 510px;
    margin-left: 35px;
    border-radius: 20px;
    border: outset var(--navajo) 10px;
}
/*titulo | Drink */
.titulodrink {
    text-align: center;
    margin: 25px;
    padding: 5px;
    font-family: "Sedan", cursive;
    color: var(--black);
    font-size: 60px;
}

/*geral*/
.rodape {
    background-color: #00FF00;
    font-family: "sedan" , cursive;
    font-size: 30px;
    border: outset crimson 15px;
}

/*botões | drinks*/
.input {
    height: 40px;
    width: 100px;
 border-radius: 10px;
}

/*botao | drink*/
.botao {
height: 40px;
width: 100px;
border-radius: 10px;
margin: 5px;
}

/*div | drinks*/
.div-container {
display: flex;
}

/*descrição | drinks*/
.descricao-menu {
margin: 150px;
font-family: "sedan" , cursive;
font-size: 40px; 
}

/*botao | drinks*/
.button-input {
   margin-left: 180px;
}

/*ingredientes | menu*/
.ingredientes {
font-size: 25px;
text-align: center;

}